<div class="arrow">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 82 52">
    <path class="arrow-circle" d="M56 51c-13.8 0-25-11.2-25-25S42.2 1 56 1s25 11.2 25 25-11.2 25-25 25zm0-49C42.8 2 32 12.8 32 26s10.8 24 24 24 24-10.8 24-24S69.2 2 56 2z"/>
    <path class="arrow-line" d="M1 25h55v1H1z"/>
    <path class="arrow-point" d="M54 20l6 5.5-6 5.5V20z"/>
  </svg>
</div>