<div class="section">
    <div class="container-fluid">
      <div class="row relative">
        <div class="col-md-10 col-md-offset-2 col-lg-5 col-lg-offset-2 col-xl-6 col-xl-offset-2">
          <div class="int-xxs-v-2 int-xxs-h-2 int-lg-h-0 int-lg-v-10">
            <h2 class="vert vert-left small">
              <div class="int-sm-v-2">Story</div>
            </h2>
            <div class="row center-xxs start-sm">
              <div class="col-sm-8" data-aos="fade-up" data-aos-delay="400">
                <p>Five years of testing and refinement, ten different iterations, and an untold number of days, mountain ranges, and descents. The Goat - our big-mountain charger that Bjorn Leines called the best board he's ever ridden - is the first board we ever started working on and is now better than ever. Available this season for the first time as a solid, the Goat was developed and tested as a split that can tour and engage on icy sidehills, make surfy, high-speed turns, and take you down big, intimidating lines the world over. Our patent-pending HALFcamber60 design (with camber underfoot on 60% of the deck) and RADIcAL Sidecut puts more edge on snow while touring and descending, while still maintaining premium flotation on deep lines. BOARDERpatrol technology uses poplar stringer which fuses with the UNIwall seamless urethane sidewall to reinforce the edge and provide an incredibly damp ride. Kyson Dana created the original artwork, featuring the fearless mountain denizen who inspired this board and shares its habitat in the steepest, most rugged mountain terrain out there.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-xl-4">
          <div class="expand-height break-pad" style="background-image: url({{ 'board-story.jpg' | asset_url }});" />
        </div>
      </div>
    </div>
</div>