<li>
  <div class="card">
    <div class="product">
      <div class="row">
        <div class="col-xxs-5">
          <div class="product-img bg-grey">
            <img src="product.image.url" alt="product.title" />
          </div>
        </div>
        <div class="col-xxs-7">
          <div class="product-details">
            <div class="product-icon">
            </div>
            <h4 class="product-title">The Crane</h4>
            <p class="product-description-short">A directional, all mountain twin.</p>
            <div class="product-variants row">
              <div class="col-xxs-6">Solid or Split</div>
              <div class="col-xxs-6">Enduro or Pro Carbon</div>
              <div class="col-xxs-6">Directional</div>
              <div class="col-xxs-6">$800-$1200</div>
            </div>
            <a class="product-view">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>