<table>
  <tr>
    <td>LENGTH <span>(cm)</span></td>
    <td>146</td>
    <td>150</td>
    <td>154</td>
    <td>158</td>
    <td>162</td>
  </tr>
  <tr>
    <td>NOSEwidth <span>(mm)</span></td>
    <td>286.8</td>
    <td>290.2</td>
    <td>294.9</td>
    <td>299.7</td>
    <td>300.3</td>
  </tr>
  <tr>
    <td>TAILwidth <span>(mm)</span></td>
    <td>285.6</td>
    <td>289</td>
    <td>292.4</td>
    <td>297.2</td>
    <td>297.8</td>
  </tr>
  <tr>
    <td>WAISTwidth <span>(mm)</span></td>
    <td>250</td>
    <td>254</td>
    <td>258</td>
    <td>262</td>
    <td>265</td>
  </tr>
  <tr>
    <td>TAPER <span>(mm)</span></td>
    <td>1.2</td>
    <td>1.2</td>
    <td>2.5</td>
    <td>2.5</td>
    <td>25</td>
  </tr>
  <tr>
    <td>SETback <span>(mm)</span></td>
    <td>15</td>
    <td>15</td>
    <td>20</td>
    <td>20</td>
    <td>20</td>
  </tr>
  <tr>
    <td>EFFECTIVEedge <span>(mm)</span></td>
    <td>1110</td>
    <td>1120</td>
    <td>1140</td>
    <td>1160</td>
    <td>1180</td>
  </tr>
  <tr>
    <td>RADIcALsidecut <span>(m)</span></td>
    <td>7</td>
    <td>7.2</td>
    <td>7.4</td>
    <td>7.4</td>
    <td>8.2</td>
  </tr>
  <tr>
    <td>PROflex</td>
    <td>5</td>
    <td>5</td>
    <td>6</td>
    <td>7</td>
    <td>7</td>
  </tr>
  <tr>
    <td>FLOATilla <span>(sqcm)</span></td>
    <td>3811</td>
    <td>3966</td>
    <td>4129</td>
    <td>4298</td>
    <td>4433</td>
  </tr>
  <tr>
    <td>NOVERhang <span>(mm)</span></td>
    <td>261.4/261.4</td>
    <td>265.8/265.8</td>
    <td>269.9/269.9</td>
    <td>273.9/273.9</td>
    <td>276.2/276.2</td>
  </tr>
  <tr>
    <td>BOARDsizing <span>(ft)</span></td>
    <td>4'6" - 5'6"</td>
    <td>5'6" - 5'9"</td>
    <td>5'9" - 6'0"</td>
    <td>5'9" - 6'0"</td>
    <td>6'0" - 6'3"</td>
  </tr>
</table>