<table>
  <tr>
    <td>LENGTH <span>(cm)</span></td>
    <td>150</td>
    <td>154</td>
    <td>158</td>
    <td>162</td>
    <td>166</td>
  </tr>
  <tr>
    <td>NOSEwidth <span>(mm)</span></td>
    <td>286.3</td>
    <td>291.5</td>
    <td>296.3</td>
    <td>300.6</td>
    <td>306</td>
  </tr>
  <tr>
    <td>TAILwidth <span>(mm)</span></td>
    <td>276.4</td>
    <td>280.9</td>
    <td>285.6</td>
    <td>289.9</td>
    <td>295</td>
  </tr>
  <tr>
    <td>WAISTwidth <span>(mm)</span></td>
    <td>254</td>
    <td>258</td>
    <td>262</td>
    <td>265</td>
    <td>270</td>
  </tr>
  <tr>
    <td>TAPER <span>(mm)</span></td>
    <td>9.9</td>
    <td>10.6</td>
    <td>10.9</td>
    <td>10.7</td>
    <td>11</td>
  </tr>
  <tr>
    <td>SETback <span>(mm)</span></td>
    <td>15</td>
    <td>15</td>
    <td>17</td>
    <td>17</td>
    <td>17</td>
  </tr>
  <tr>
    <td>EFFECTIVEedge <span>(mm)</span></td>
    <td>1150</td>
    <td>1170</td>
    <td>1190</td>
    <td>1220</td>
    <td>1260</td>
  </tr>
  <tr>
    <td>RADIcALsidecut <span>(m)</span></td>
    <td>10.6</td>
    <td>10.8</td>
    <td>10.5</td>
    <td>11</td>
    <td>11.5</td>
  </tr>
  <tr>
    <td>PROflex</td>
    <td>5</td>
    <td>6</td>
    <td>7</td>
    <td>8</td>
    <td>9</td>
  </tr>
  <tr>
    <td>FLOATilla <span>(sqcm)</span></td>
    <td>3897</td>
    <td>4061</td>
    <td>4227</td>
    <td>4386</td>
    <td>4584</td>
  </tr>
  <tr>
    <td>NOVERhang <span>(mm)</span></td>
  </tr>
  <tr>
    <td>BOARDsizing <span>(ft)</span></td>
    <td>4'6" - 5'6"</td>
    <td>5'6" - 5'9"</td>
    <td>5'9" - 6'0"</td>
    <td>5'9" - 6'0"</td>
    <td>6'0" - 6'3"</td>
  </tr>
</table>