<table>
  <tr>
    <td>LENGTH <span>(cm)</span></td>
    <td>152 solid</td>
    <td>152 split</td>
    <td>158 solid</td>
    <td>158 split</td>
    <td>162 solid</td>
    <td>162 split</td>
  </tr>
  <tr>
    <td>NOSEwidth <span>(mm)</span></td>
    <td>293.2</td>
    <td>300.9</td>
    <td>306.9</td>
    <td>314.5</td>
    <td>315</td>
    <td>324</td>
  </tr>
  <tr>
    <td>TAILwidth <span>(mm)</span></td>
    <td>273.2</td>
    <td>281.8</td>
    <td>286</td>
    <td>294.5</td>
    <td>295</td>
    <td>304</td>
  </tr>
  <tr>
    <td>WAISTwidth <span>(mm)</span></td>
    <td>250</td>
    <td>260</td>
    <td>262</td>
    <td>272</td>
    <td>270</td>
    <td>280</td>
  </tr>
  <tr>
    <td>TAPER <span>(mm)</span></td>
    <td>20</td>
    <td>19.1</td>
    <td>20.9</td>
    <td>20</td>
    <td>20</td>
    <td>20</td>
  </tr>
  <tr>
    <td>SETback <span>(mm)</span></td>
    <td>5</td>
    <td>5</td>
    <td>5</td>
    <td>7</td>
    <td>7</td>
    <td>7</td>
  </tr>
  <tr>
    <td>EFFECTIVEedge <span>(mm)</span></td>
    <td>1080</td>
    <td>1080</td>
    <td>1130</td>
    <td>1132</td>
    <td>1160</td>
    <td>1160</td>
  </tr>
  <tr>
    <td>RADIcALsidecut <span>(m)</span></td>
    <td>7.6</td>
    <td>8.1</td>
    <td>7.9</td>
    <td>8.4</td>
    <td>8.5</td>
    <td>8.5</td>
  </tr>
  <tr>
    <td>PROflex</td>
    <td>5</td>
    <td>5</td>
    <td>6</td>
    <td>6</td>
    <td>6</td>
    <td>6</td>
  </tr>
  <tr>
    <td>FLOATilla <span>(sqcm)</span></td>
    <td>3952</td>
    <td>4082</td>
    <td>4300</td>
    <td>4436</td>
    <td>4543</td>
    <td>4725</td>
  </tr>
  <tr>
    <td>NOVERhang <span>(mm)</span></td>
    <td>267.3/254.7</td>
    <td>276.2/264.4</td>
    <td>279.1/266.7</td>
    <td>288/276.4</td>
    <td>286.9/274.7</td>
    <td>295.9/284.4</td>
  </tr>
  <tr>
    <td>BOARDsizing <span>(ft)</span></td>
    <td>5'0 - 5'9"</td>
    <td>5'0" - 6'0"</td>
    <td>5'0" - 6'0"</td>
    <td>6'0" - 6'3"</td>
    <td>6'0" - 6'4"</td>
    <td>6'3" - 6'6"</td>
  </tr>
</table>