<table>
  <tr>
    <td>LENGTH <span>(cm)</span></td>
    <td>158 solid</td>
    <td>158 split</td>
  </tr>
  <tr>
    <td>NOSEwidth <span>(mm)</span></td>
    <td>311.5</td>
    <td>310.8</td>
  </tr>
  <tr>
    <td>TAILwidth <span>(mm)</span></td>
    <td>298.9</td>
    <td>298.9</td>
  </tr>
  <tr>
    <td>WAISTwidth <span>(mm)</span></td>
    <td>265.1</td>
    <td>266</td>
  </tr>
  <tr>
    <td>TAPER <span>(mm)</span></td>
    <td>12.6</td>
    <td>11.9</td>
  </tr>
  <tr>
    <td>SETback <span>(mm)</span></td>
    <td>30</td>
    <td>30</td>
  </tr>
  <tr>
    <td>EFFECTIVEedge <span>(mm)</span></td>
    <td>1260</td>
    <td>1260</td>
  </tr>
  <tr>
    <td>RADIcALsidecut <span>(m)</span></td>
    <td>8.2</td>
    <td>8.7</td>
  </tr>
  <tr>
    <td>PROflex</td>
    <td>8</td>
    <td>8</td>
  </tr>
  <tr>
    <td>FLOATilla <span>(sqcm)</span></td>
    <td>4350</td>
    <td>4352</td>
  </tr>
  <tr>
    <td>NOVERhang <span>(mm)</span></td>
    <td>277.5/272.1</td>
    <td>277.7/272.5</td>
  </tr>
  <tr>
    <td>BOARDsizing <span>(ft)</span></td>
    <td>5'9" - 6'2"</td>
    <td>5'9" - 6'2"</td>
  </tr>
</table>