<div class="col-md-4 col-lg-3">
  <div class="spec">
    <div class="num">1</div>
    <h5>SURF tip and WINGPIN tail</h5>
    <p>Surf inspired nose that creates a smooth entry into and out of turns. The wings of the wingpin extend the effective edge and pull in to release the edge making quick side to side turns off the tail smooth and easy.</p>
  </div>
</div>
<div class="col-md-4 col-lg-3">
  <div class="spec">
    <div class="num">2</div>
    <h5>UNIwall + BOARDERpatrol</h5>
    <p>Seamless urethane sidewalls fuse to our cores to create the most durable and damp ride available - featured on the Enduro Series decks. All of our boards have poplar stringer backed sidewalls. This reinforces the edge while protecting the lightweight cores.</p>
  </div>
</div>
<div class="col-md-4 col-lg-3">
  <div class="spec">
    <div class="num">3</div>
    <h5>30MM of Taper</h5>
    <p>Placing more surface area in the nose and tapering it down through the tail allows the swell to get up and plane on soft snow without effort.</p>
  </div>
</div>