<div class="col-md-4 col-lg-3">
  <div class="spec">
    <div class="num">1</div>
    <h5>FLOATilla</h5>
    <p>Big float, small board: by placing more surface area under foot and a gradual nose rocker the patent-pending HALFcamber allows us to create shorter boards with more  float.</p>
  </div>
</div>
<div class="col-md-4 col-lg-3">
  <div class="spec">
    <div class="num">2</div>
    <h5>UNIwall + BOARDERpatrol</h5>
    <p>Seamless urethane sidewalls fuse to our cores to create the most durable and damp ride available - featured on the Enduro Series decks. All of our boards have poplar stringer backed sidewalls. This reinforces the edge while protecting the lightweight cores.</p>
  </div>
</div>
<div class="col-md-4 col-lg-3">
  <div class="spec">
    <div class="num">3</div>
    <h5>GROOMtune</h5>
    <p>All Cardiff solids are backcountry inspired but resort tuned - meaning all our solids have been shaped and adapted to ride on groomed snow.</p>
  </div>
</div>