<div class="col-md-4 col-lg-3">
  <div class="spec">
    <div class="num">1</div>
    <h5>BUTTERblunt nose & WINGtail</h5>
    <p>This nose and tail are designed to allow easy transition from side to side but massive float without the extra length and weight of traditional powder shapes. This creates the perfect nose and tail to pop and butter.</p>
  </div>
</div>
<div class="col-md-4 col-lg-3">
  <div class="spec">
    <div class="num">2</div>
    <h5>RADiCAL SIDECUT</h5>
    <p>Blend of Radial and Progressive sidecuts are used on all CARDIFF boards to give each board a unique character.</p>
  </div>
</div>
<div class="col-md-4 col-lg-3">
  <div class="spec">
    <div class="num">3</div>
    <h5>PERFECTpivot 3.0</h5>
    <p>Every Cardiff snowboard is uniquely designed to match the shape to the camber - resulting in a new standard of performance.</p>
  </div>
</div>