<div class="bg-grey int-sm-v-8">
    <div class="container">
      <div class="row middle-sm">
        <div class="col-sm-2 z-2">
          <h2 class="no-break h1 h2-xxs" data-scroll data-splitting="lines">Shaper Reviews</h2>
        </div>
        <div class="col-sm-10 z-1 first-xxs initial-order-sm">
          <div class="img-profile img-caption">
            <div class="main">
              <div class="ext-xxs-neg-l-1 ext-xxs-neg-r-1 ext-xxs-b-4 ext-sm-neg-r-10 ext-sm-neg-l-0 ext-sm-b-0 image-load">
                <img src="{{ 'shaper-bg.jpg' | asset_url }}" class="extend-right" alt="Tokyo, Japan"  data-aos="zoom-out" />
              </div>
            </div>
            <div class="caption">
              <div class="top">
                Location: Wasatch
              </div>
              <div class="bottom">
                Photographer: Andy Earl
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="int-xxs-b-4 int-sm-v-2">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-2 int-xxs-t-2 int-sm-t-4" data-aos="fade-up">
            <h4>Mark Winkelarr</h4>
            <h6>Winterstick</h6>
            <p>Second-to-none in shape and finish. Absolutely a work of art. The blue and graphic on the tail is hangable art. I’ll carry my board in the lift line. Give me a huge bubble. Don’t even get your skis anywhere near my ride I’m keeping this one “nice”.</p>
          </div>
          <div class="col-sm-4 col-sm-offset-1 int-xxs-t-2 int-sm-t-4" data-aos="fade-up" data-aos-delay="200">
            <h4>Tyler Macleod</h4>
            <h6>Product Editor at Transworld Snow</h6>
            <p>POWGODA - Frickin’ rad board. The shape, the camber profile, the flex, even the graphics were all in line with what I look for in a board. This was easily my favorite of the test so far. Thank you, Cardiff!</p>
          </div>
          <div class="col-sm-4 col-sm-offset-2 int-xxs-t-2 int-sm-t-4" data-aos="fade-up" data-aos-delay="100">
            <h4>Aaron Lebowitz</h4>
            <h6>Owner of Elevated Surfcraft</h6>
            <p>POWGODA - Mind-blowing! My one favorite board of the PowWow (Jackson Hole Shaper Summit).</p>
          </div>
          <div class="col-sm-4 col-sm-offset-1   int-xxs-t-2 int-sm-t-4" data-aos="fade-up" data-aos-delay="300">
            <h4>Chance Cooke</h4>
            <h6>Shaper Summit Tester</h6>
            <p>POWGODA - Love the spirit and presentation of all the Cardiff boards, you guys are kicking ass!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
