<div id="wrap">
  <div class="int-xxs-v-3 int-sm-v-6 relative">
    <div class="container">
      <div class="row">
        <div class="col-xxs-12 col-md-6">
          <h1>{{ page.title }}</h1>

          <div class="rte">
            {{ page.content }}
          </div>
        </div>
      </div>
    </div>
    <div class="bg-side" style="background-image: url({{ 'contact-hero.jpg' | asset_url }}" />
  </div>
</div>
