<div id="wrap" class="bg-grey">

  {% section 'page_tech-hero' %}

  {% section 'page_tech-bg' %}

  {% section 'page_tech-camber-definitions' %}

  {% section 'page_tech-materials' %}

  {% section 'page_tech-board-spectrum' %}

  {% section 'page_tech-shaper-reviews' %}
  
</div>